footer {
	height: 100px;
	z-index: 3;
	position: relative;
/*	border-top: double;*/
/*	border-color: #572e8c;*/
/*	border-width: 5px;*/
}

footer:after {
	content: '';
	display: block;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
}

footer > div.footer-links {
/*	width: 60%;*/
	margin: auto;
	height: 100%;
	z-index: 5;
}

footer > div.footer-links > ul {
	display: flex;
/*	height: 100%;*/
/*	margin-top:10px ;*/
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	top: 30%;
	z-index: 5;

}

footer > div.footer-links > ul > li {
	margin: 5px 15px;
}

footer > div.footer-links > ul > li > a {
	text-decoration: none;
	color: #fff;
	font-size: 11px;
	font-style: italic;

}

footer > div.footer-links > ul > li > a > span {
	padding: 5px 15px;
	
	border: double;	
	border-radius: 20px 10px;
	transition: 0.5s;
}

footer > div.footer-links > ul > li > a:hover > span {
	box-shadow: 0px 0px 5px 4px #7802c4;
	font-size: 15px;
}






